@if (getDocument()) {
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <app-informatiemodel-sidebar [mim]="getDocument()!"></app-informatiemodel-sidebar>
      </div>
      <main class="col-md-9 col-lg-9 ms-sm-auto px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th scope="col">Eigenschap</th>
              <th scope="col">Waarde</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr>
              <td>Naam</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:naam'] }}</td>
            </tr>
            <tr>
              <td>Herkomst</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:herkomst'] }}</td>
            </tr>
            <tr>
              <td>Herkomst definitie</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:herkomstDefinitie'] }}</td>
            </tr>
            <tr>
              <td>Datum opname</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:datumOpname'] }}</td>
            </tr>
            <tr>
              <td>Informatiemodeltype</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:informatiemodeltype'] }}</td>
            </tr>
            <tr>
              <td>Relatiemodelleringtype</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:relatiemodelleringtype'] }}</td>
            </tr>
            <tr>
              <td>MIM versie</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:MIMVersie'] }}</td>
            </tr>
            <tr>
              <td>MIM taal</td>
              <td>{{ getDocument()!['mim:Informatiemodel']['mim:MIMTaal'] }}</td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="table-responsive">
          <h4>Kenmerken</h4>
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th scope="col">Naam</th>
              <th scope="col">Waarde</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
              @for (
                entry of getDocument()!["mim:Informatiemodel"]["mim-ext:kenmerken"]["mim-ext:Kenmerk"]; track entry) {
                <tr>
                  <td>{{ entry.naam }}</td>
                  <td>{{ entry.value }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
}
